/* @theme peru24doc */

@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');

section::after {
  color: rgb(100, 100, 100);
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

:root {
  --color-back: rgb(255, 255, 255);
  --color-trans: rgba(255, 255, 255, 0.0);
  --color-side-a: rgb(205, 235, 240);
  --color-side-b: rgb(205, 240, 230);
  --color-background-code: rgb(240, 240, 240, 0.5);
}

section {
    background:
    linear-gradient(-70deg,
        var(--color-side-b) 5%, 
        var(--color-trans) 5%,
        var(--color-trans) 95%,
        var(--color-side-a) 95%),
        linear-gradient(30deg,
        var(--color-side-a) 3%, 
        var(--color-back) 3%,
        var(--color-back) 97%,
        var(--color-side-b) 97%);
    background-size: cover;
    background-position: center;
    color: rgb(90, 90, 90);
    font-family: 'Zen Maru Gothic', sans-serif;  
    text-decoration: none;
    padding: 0em 3em 0em 3em;
    font-size: 1.8rem;

    place-content: safe center center;
}

header,
footer {
  margin: 0;
  position: absolute;
  position: absolute;
  left: 1em;
  color: var(--header-footer-color);
}

header {
    top: 21px;
}

footer {
    bottom: 21px;
}

em {
    font-weight: normal;
    font-size: smaller;
    color: rgb(130, 130, 130);
}

section h1,h2,h3,h4 {
    color: rgb(90, 130, 140);
}

section h1 {
    font-size: 2.8rem;
}

section h2 {
    font-size: 2.5rem;
}

section a:link {
    color: inherit;
    word-break: break-all;
}

pre {
    background-color: var(--color-background-code);
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.1);
    color: rgb(50, 50, 50);
    line-height: 1.0;
    font-size: 0.8em;
    padding: 1em;
    white-space: pre-wrap;
    border-radius: 0.5em;
}

code {
    background-color: var(--color-background-code);
    border-radius: 0.2em;
    font-family: 'Ubuntu Mono', monospace;
}

pre code {
    background: none;
}